pip install aiogram
pip install --force-reinstall -v "aiogram==2.23.1"
pip install -U g4f   #установка gpt (окружение не менее python 3.10)
pip install pydantic-settings #для валидации данных(в данном случае токена)